@page "/"
@inject Drive Drive
@inject IJSRuntime JSRuntime

<PageTitle>Archimedes</PageTitle>

<div class="min-h-screen bg-background flex flex-col justify-center items-center text-foreground gap-y-5 p-8">

    <p class="text-7xl font-bold text-primary mb-4">Archimedes</p>

    <p class="text-lg text-subtitle">
        Welcome to Archimedes, your personal Drive search engine.
    </p>

    <input type="text" @bind="searchQuery" @bind:event="oninput" @onkeyup="HandleKeyUp" placeholder="Search..." class="bg-muted p-4 rounded-lg w-full text-foreground" />

</div>

@code {
    private string searchQuery = "";

    private void HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            Console.WriteLine($"Search query entered: {searchQuery}");
            // functions
        }
    }
}